
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authenticate</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
        <style>
                .container {
                        margin-top: 50px !important;
                }
                ul {
                        margin-top: 30px !important;
                }
                .messages {
                        padding-left: 0px !important;
                        list-style-type: none;
                }
        </style>
</head>

<body>
        <div class="container">
        <div class="row justify-content-center">
                
                <div class="col-4">
                        <div class="card">
                        <h4 class="card-header text-center">Password Reset</h4>
                        <div class="card-block">
                                <form method="post" action="accounts/resetpassword">
                                {% csrf_token %}
                                <div class="form-group">
                                        <label>Email</label>
                                        <input name="login_email" required type="text" class="form-control">
                                </div>
                                <div class="mx-auto text-center">
                                        <input type="submit" value="Reset Password" name="resetPassword" class="btn btn-primary">
                                </div>
                                </form>
                        </div>
                        </div>
                </div>


        </div>
        </div>
</body>
</html>